<table class='legrid'>
  <tr>
    <td class='left'>
      <% cache( "lists/#{@list.identifier}/latest/#{@list.messages_count}}" ) do %>
        <%= render :partial => '/core/messages', :locals => { :messages => @messages } %>  
        <%= link_to "browse", :action => 'browse' %> the rest of the <%= @list.address %> archive
      <% end %>
    </td>
    <td class='right info'>
      <%= render_object( @list, :info ) %>
      <div class="chart">
        <%= render_chart :width => 500, :height => 250, :url => url_for_list( @list, :charts_xml) %>
      </div>

      
      <% cache( "lists/#{@list.identifier}/tag_cloud/#{Cache.daily}" ) do %>
      <div class='tag-cloud'>
        <%= tag_cloud(tags(@list)) %>
      </div>
      <% end %>
    </td>
  </tr>
</table>