Copyright 2006-2008 <a href="http://codehaus.org/">The Codehaus Foundation</a><br/>  
Powered by <a href="http://march.rubyhaus.org/">Codehaus March</a> (Version: <%= March::VERSION %>-<%= March::REVISION %>)

<%= render :partial => '/layouts/tracking' %>

<% if March::PROFILE %>
  <%= link_to 'Profile', '/profile.html' %>
<% end %>

<% if March::GOOGLE_ANALYTICS %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("<%= March::GOOGLE_ANALYTICS %>");
  pageTracker._trackPageview();
  </script>
<% end %>