<script type='text/javascript'>
// <![CDATA[
  function init_navigation() {
    function find_menu_item(menubar, name) {
      for (i = 0; i < menubar.getItems().length; i++) {
        item = menubar.getItem(i);
        if (item.id == name) {
          return item;
        }
      }
      return null;
    }
    
    YAHOO.util.Event.onContentReady("navigation_links", function () {
      function onMenuBarBeforeRender(p_sType, p_sArgs) {
      <% 
        menu = {}
        
        menu[:home] = []

        menu[:recent] = []
        menu[:recent] << {
          :text => 'Latest messages',
          :url  => url_for_target(@target, :latest)
        }
        
        menu[:lists] = []
        if @group
          for list in @group.recently_active(10)
            menu[:lists] << {
              :text => list.address,
              :url  => url_for_target(list)
            }
          end
        end
        
        if current_user?
          menu[:my] = []
          for favorite in current_user.favorites
            menu[:my] << {
              :text => favorite.target.name,
              :url => url_for_target(favorite.target)
            }
          end
        end
      %>
        
        var oSubmenuData = <%= menu.to_json %>;
        

        <% if current_user? %>
        find_menu_item(this, 'menu-my').cfg.setProperty("submenu", { id: "my", itemdata: oSubmenuData["my"] });
        <% end %>
        find_menu_item(this, 'menu-activity').cfg.setProperty("submenu", { id: "recent", itemdata: oSubmenuData["recent"] });
        find_menu_item(this, 'menu-lists').cfg.setProperty("submenu", { id: "lists", itemdata: oSubmenuData["lists"] });
      };
      
      var oMenuBar = new YAHOO.widget.MenuBar("navigation_links", { 
          autosubmenudisplay: true, hidedelay: 750, 
          lazyload: true, clicktohide: false });
      
      oMenuBar.beforeRenderEvent.subscribe(onMenuBarBeforeRender);
      oMenuBar.render();
      oMenuBar.visible = false;
    });
    
        
  }

  init_functions.push(init_navigation);
  
// ]]>
</script>


<div id="navigation_links" class="yuimenubar yuimenubarnav" style="visibility: visible; list-style-type: none;">
  <div class="bd">
  <ul class="first-of-type">
    
    <li class="yuimenubaritem" id='menu-home'>
      <%= image_link_to 'home.gif', 'Home', { :controller => '/home', :action => 'index' }, { :class => "yuimenuitemlabel" } %>
    </li>

    <% if current_user? %>
    <li class="yuimenubaritem" id='menu-my'>
        <%= link_to 'My', '#', { :class => "yuimenuitemlabel", :style => 'padding-bottom: 1px' } %>
    </li>
    <% end %>

    <li class="yuimenubaritem" id='menu-activity'>
        <%= link_to 'Activity', '#', { :class => "yuimenuitemlabel", :style => 'padding-bottom: 1px' } %>
    </li>

    <li class="yuimenubaritem" id='menu-groups'>
      <%= image_link_to 'mail-groups.png', 'Groups', '#', { :class => "yuimenuitemlabel" } %>
    </li>

    <li class="yuimenubaritem" id='menu-lists'>
      <%= image_link_to 'mail-list.png', 'Lists', '#', { :class => "yuimenuitemlabel" } %>
    </li>

    <% if @searchable %>
      <li class="yuimenubaritem" id='menu-search'>
        <%= image_link_to 'search.png', 'Search', { :action => 'search' }, { :class => "yuimenuitemlabel" } %>
      </li>
    <% end %>

    
  </ul>
  </div>
</div>